.hero-orange {
  background-color: #ffa200 !important;

  h1 {
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    p {
      font-size: 20px;
      color: #000;
    }

    a {
      color: $font-color;
      font-size: 20px;
    }

    img {
      margin: 0 auto;
    }
  }
  .hero-button {
    color: rgb(50, 55, 60);

    a {
      background-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-color: initial;
      border-image: initial;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      border-radius: 28px;
      margin: 0;
      padding: 12px 24px;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: #000;
      }
    }
  }
}

.hero-orange-regular {
  background-color: #ffa200 !important;
  padding: 50px 0;

  .info {
    h1 {
      color: #000;
      font-size: 2rem;
      line-height: 2.25rem;
      margin-top: 0;
      margin-bottom: 0.75rem;
    }

    .text {
      p {
        font-weight: normal;
        color: #000;
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 0;
        margin-bottom: 0.75rem;
        text-rendering: geometricPrecision;
        font-style: normal;
      }
    }

    .buttons-wrapper {
      margin-top: 2.5rem;

      .button-border {
        margin-left: 10px;
      }
    }
  }
}
