.phone-contact {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    color: #ffa200;
    margin-bottom: 0.75rem;
  }

  p {
    text-align: center;
    // margin-bottom: 0.75rem;
  }

  .button-green {
    margin-top: 26px;

    a {
      background-color: #14f397;
      border-color: #fefefe;
      width: auto;
      border-radius: 99em;
      border-style: solid;
      border-width: 2px;
      color: #0a0a0a;
      cursor: pointer;
      font-weight: 800;
      padding: 0.75rem 1rem;
      position: relative;
      text-align: center;
      text-decoration: none;
    }
  }

  .button-border {
    margin-top: 22px;
  }

  &.orange-bg {
    background-color: #ffa200;

    h2 {
      color: #000;
    }
  }
}
