.phone-contact {
  h2 {
    color: #ffa200;
    margin-bottom: 0.75rem;
  }

  p {
    text-align: center;
    // margin-bottom: 0.75rem;
  }

  .button-green {
    margin-top: 26px;

    a {
      background-color: #14f397;
      border-color: #fefefe;
      width: auto;
      border-radius: 99em;
      border-style: solid;
      border-width: 2px;
      color: #0a0a0a;
      cursor: pointer;
      font-weight: 800;
      padding: 0.75rem 1rem;
      position: relative;
      text-align: center;
      text-decoration: none;
    }
  }

  .button-border {
    margin-top: 22px;

    a {
      text-decoration: none;
      text-align: center;
      display: block;

      .btn {
        border-radius: 99em;
        border-style: solid;
        border-width: 2px;
        color: #0a0a0a;
        cursor: pointer;
        position: relative;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        outline: 0;
        font-size: 13px;
        padding: 12px 34px;

        .num {
          font-weight: 600;
          font-size: 16px;
          margin-top: 6px;
          display: block;
        }
      }
      .text {
        font-size: 13px;
        color: #0a0a0a;
        margin-top: 8px;
      }

      &:hover {
        background-color: rgba(254, 254, 254, 0.3);
        color: $font-color;

        .btn {
          color: $font-color;
        }
      }
    }
  }
}
