* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #4a5154;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
}
