header {
  .ribbon-switch {
    p {
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
  .menu {
    height: 80px;

    .brand {
      width: clamp(130px, 100%, 160px);
      flex-shrink: 0;
    }

    nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 24px;

      ul {
        display: flex;
        list-style: none;

        & > li {
          padding: 0.75rem;
          text-align: center;
          position: relative;

          a {
            padding: 0.3rem;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            color: $font-color;
            margin: 0.375rem 0;
            padding-left: 0;
            padding-right: 0;
            transition: all ease 0.2s;
            font-weight: 800;
          }

          .dropdown {
            display: none;
            position: absolute;
            width: 656px;

            .container-list {
              padding: 1rem 1.5rem;

              .icon-list {
                margin-left: 1.25rem;

                .icon-block {
                  .text {
                    margin-left: 0.75rem;

                    a {
                      color: $font-color;
                      font-weight: 700;
                      line-height: inherit;
                      font-size: 13px;

                      & > a {
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
            }

            &.open {
              display: block;
            }
          }
        }
      }

      & div > ul {
        border-left: 2px solid #000;
      }
    }
  }
}
