.button-border {
  a {
    text-decoration: none;
    text-align: center;
    display: block;

    .btn {
      border-radius: 99em;
      border-style: solid;
      border-width: 2px;
      color: #0a0a0a;
      cursor: pointer;
      position: relative;
      text-align: center;
      text-decoration: none;
      font-weight: 400;
      outline: 0;
      font-size: 13px;
      padding: 12px 34px;

      .num {
        font-weight: 600;
        font-size: 16px;
        margin-top: 6px;
        display: block;
      }
    }
    .text {
      font-size: 13px;
      color: #0a0a0a;
      margin-top: 8px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.green-button {
  background-color: #14f397;
  border-color: #fefefe;
  width: auto;
  border-radius: 99em;
  border-style: solid;
  color: #0a0a0a;
  cursor: pointer;
  font-weight: 800;
  padding: 0.75rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 100%;
  display: block;

  &.border {
    // border-width: 2px;
    border: 2px solid #fff;
  }

  &.expand {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 217px;
  }
}

.orange-border-button {
  background-color: transparent;
  border-radius: 99em;
  border-style: solid;
  border-width: 2px;
  color: #0a0a0a;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  border-color: #ffc766;
  line-height: 1.5rem;
  display: block;
}
